{% extends 'account/base.html' %}
{% block title %}  {{ user_type }}  SignUp.  {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2> Available Jobs</h2>
        <a href="{% url 'view_all_Job' %}" class="btn btn-primary">View All Jobs</a>
    <br>
    <table id="jobsTable" class="table table-bordered table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>title</th>
                <th>company</th>
                <th>description</th>
                <th>location</th>
                <th>job Type</th>
                <th>deadline</th>
                <th>posted by</th>
                <th>salary</th>
                <th>Detail</th>
            </tr>
        </thead>
    <tbody>
        {% for item in job_key %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.location}}</td>
            <td>{{ item.job_type}}</td>
            <td>{{ item.deadline}}</td>
            <td>{{ item.posted_by}}</td>
            <td>{{ item.salary}}</td>
            <td><a href="{%  url 'job_detail' item.id %}">View</a></td>
        </tr>


    {% endfor %}
    </tbody>
    </table>
    </div>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
        $(document).ready(function () {
        $('#jobsTable').DataTable();
    });

</script>
{% endblock %}